<% title "Articles" %>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Body</th>
    <th>Category</th>
    <th>Region</th>
    <th>Status</th>
    <th>Page</th>
  </tr>
  <% for article in @articles %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.author %></td>
      <td><%= article.body %></td>
      <td><%= article.category %></td>
      <td><%= article.region %></td>
      <td><%= article.status %></td>
      <td><%= article.page_id %></td>
      <td><%= link_to "Show", article %></td>
      <td><%= link_to "Edit", edit_article_path(article) %></td>
      <td><%= link_to "Destroy", article, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Article", new_article_path %></p>
