<div class="main-column-wrapper">
	<% form_tag url_for(:controller => 'articles', :action => 'edit_individual')  do %>
	<table class="zebra-striped">
		<thead>
			<th></th>
			<th>Title</th>
			<th>Author </th>
			<th>User Id </th>
			<th>Date Created </th>
			<th>Status </th>
			<th>Published </th>
			<th></th>
		</thead>
		<% for article in @articles %>
		<tbody>
			<tr>
				<td><%= check_box_tag "article_ids[]", article.id %></td>
				<td> <%= article.title.html_safe[0..50] +(article.title.length > 50? "...": "")  %> </td>
				<td> <%= article.author %> </td>
				<td> <%= article.user_id %> </td>
				<td> <%= article.created_at.strftime("%D") %> </td>
				<td> <%= article.status %> </td>
				<td> <% if article.published? %> <span class="label success"> YES </td>
				</span>
				<% else %> <span class="label important"> NO </span>
				<% end  %> 
				<td><%= link_to "Preview", article %></td>
				<td><%= link_to "Edit", edit_article_path(article) %></td>
				<td><%= link_to "Delete", article, :confirm => 'Are you sure?', :method => :delete %></td>
			</tr>
		</tbody>
		<% end %>
	</table>
	<%= submit_tag "Edit Articles", :class => "btn  success" %>
	<% end %>
</div>
