<div class="main-column-wrapper">
	<!-- BEGIN .main-column-left -->
	<div class="main-column-left">
		<!-- BEGIN .post -->
		<div class="post post-style-1">
			<h2 class="article-title"><%= link_to @article.title %></h2>
			<div class="info">
				<span class="date"><%= @article.created_at %></span>
				<span class="author">by <%= @article.author %></span>
				<span class="section"><%= @article.category %></span>
				<a href="#" class="comments"><%= @article.comments.count %> comments</a>
			</div>
			<div>
				<div class="pull-left">
					<%= link_to image_tag(@article.image.url, :size => "567x250", :class => "image",:style => "margin-bottom: 50px; " ), article_path(@article) %>
					<p class="pull-left" style="text-align: justify">
						<%= @article.body.html_safe %>
					</p>
				</div>
			</div>
			<!-- END .post -->
		</div>
		<% if @comments %> <!-- BEGIN .comments -->
		<div class="comments span9" >
			<div class="post-title">
				<b>Comments</b>
			</div>
			<ol>
				<% for comment in @comments do %>
				<li>
					<!-- BEGIN .comments-item -->
					<div class="comments-item">
						<div class="comments-header">
							<div class="user">
								<span><%= h(comment.author) %></span><a href="#"> <%= image_tag("ico-user-3.png ")%> </a>
							</div>
							<h2 class="time"><%= comment.created_at.to_s(:long) %></h2>
						</div>
						<p>
							<%= h comment.text %>
						</p>
						<!-- END .comments-item -->
					</div>
				</li>
				<% end %>
			</ol>
			<% end %> <!-- BEGIN .add-comment -->
			<div class="add-comment">
				<h3>Post Your Comment</h3>
				<% form_for([@article, Comment.new]) do |form| %>
				<table>
					<tr>
						<td>User name</td>
						<td><%= form.text_field :author, :class => "input-text-1" %></td>
					</tr>
					<tr>
						<td class="spacer-1" colspan="2"></td>
					</tr>
					<tr>
						<td><%= form.label :text, 'Your Comment' %> </td>
						<td><%= form.text_area :text, :class=>"text-area-1" %> </td>
					</tr>
					<tr>
						<td></td>
						<td> <%= form.submit 'Save' ,:class=> "btn primary large" %></td>
					</tr>
				</table>
				<% end %> <!-- END .add-comment -->
			</div>
			<!-- END .comments -->
		</div>
		<!-- END .main-column-left -->
	</div>
	<!-- BEGIN .sidebar -->
	<%= render "layouts/article_sidebar" %>
	<div class="clear">
		&nbsp;
	</div>
	<!-- END .main-column-wrapper -->
</div>
