<% title "Article" %> 
<%= image_tag @article.image.url ,:size => "250x250" %>
<p>
	<strong>Title:</strong>
	<%= @article.title %>
</p>
<p>
	<strong>Author:</strong>
	<%= @article.author %>
</p>
<p>
	<strong>Body:</strong>
	<%= @article.body %>
</p>
<p>
	<strong>Category:</strong>
	<%= @article.category %>
</p>
<p>
	<strong>Region:</strong>
	<%= @article.region %>
</p>
<p>
	<strong>Status:</strong>
	<%= @article.status %>
</p>
<p>
	<strong>Page:</strong>
	<%= @article.page_id %>
</p>
<p>
	<%= link_to "Edit", edit_article_path(@article) %> |

	<%= link_to "Destroy", @article, :method => :delete, :confirm => "Are you sure?" %> |

	<%= link_to "Back to Articles", articles_path %>
</p>
<% if @comments %> <h3>Comments</h3>
<% for comment in @comments do %>
<p>
	<strong><%= h(comment.author) %></strong>: <%= h comment.text %>
	<% end %>
	<%= will_paginate @comments %>
	<% end %> <h3>Post Your Comment</h3>
	<% form_for([@article, Comment.new]) do |form| %>
<p>
	<%= form.label :author %>
</p>
<% if current_user %>
<p>
	<%= form.text_field :author, :value => current_user.username %>
</p>
<% else %>

<%= form.text_field :author%>
<% end %>
<p>
	<%= form.label :text, 'Comment' %>
</p>
<p>
	<%= form.text_area :text %>
</p>
<%= form.submit 'Save' %>
<% end %>