<% title "Jobs" %>
<div class="main-column-wrapper">
	<!-- BEGIN .main-column-left -->
	<div class="main-column-left">
		<h2>Featured NexInnova Jobs</h2>
		<table style="width: 100%">
			<thead>
				<tr>
				<th style="text-align: left; width: 50%">JOB TITLE</th>
				<th style="text-align: left">LOCATION</th>
				<th style="text-align: left">UPDATED</th>
				</tr>
			</thead>
			<% for job in @jobs %>
			<tr>
				<td><%= link_to job.title, job_path(job) %>
				<br />
				<%= job.company %> </td>
				<td><%= job.location %></td>
				<td><%= job.created_at.strftime("%B %d, %Y") %></td>
			</tr>
			<% end %>
		</table>
		<p>
			<%= link_to "New Job", new_job_path %>
		</p>
	</div>
	<!-- BEGIN .sidebar -->
	<%= render "layouts/jobs_sidebar" %>
	<div class="clear">
		&nbsp;
	</div>
	<!-- END .main-column-wrapper -->
</div>
