<% title @job.title  %>
<div class="main-column-wrapper">
	<!-- BEGIN .main-column-left -->
	<div class="main-column-left">
		<div class="span8 pull-left">
			<h2> <%= @job.title %> </h2>
			<br />
			<h3 style="margin-right: 10px;" class="pull-left"> <%= @job.company %>      </h3>  <span style="margin-left: 10px; margin-top: 6px;" class="label notice pull-left"> Apply By <%= @job.application_due.strftime(" %d %B %Y") %></span>
		
		
		</div>
		<div class="span2 pull-left">
			<%= image_tag @job.image.url ,:size => "100x50" %>
		</div>
		<div style="margin-top: 30px; text-align: justify" class="span10 pull-left">
			
			<%= @job.job_description %>
			<br /	>
			<button class="btn primary large"> APPLY NOW</button>
		</div>
		
		
		
		
	</div>
	<!-- BEGIN .sidebar -->
	<%= render "layouts/jobs_sidebar" %>
	<div class="clear">
		&nbsp;
	</div>
	<!-- END .main-column-wrapper -->
</div>
