<% title "Advertisement" %>

<%= image_tag @advertisement.image.url ,:size => "250x250" %>
<p>
  <strong>Permalink:</strong>
  <%= @advertisement.permalink %>
</p>
<p>
  <strong>Page:</strong>
  <%= @advertisement.page_id %>
</p>

<p>
  <%= link_to "Edit", edit_advertisement_path(@advertisement) %> |
  <%= link_to "Destroy", @advertisement, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", advertisements_path %>
</p>
